body{
    background:#555;
}
body.loading{
    overflow:hidden;
    cursor: wait;
}
input{
    background: #ccc;
    color:#000;
}
input[type=button]{
    cursor: pointer;
}
input[type=button]:active{
    background: #000;
    color: #ccc;
}

input[type=text]:focus{
    background: #fff;
}
input[type=password]:focus{
    background: #fff;
}

input.number{
    margin:0 1px 0 1px;
    max-width:40px;
    text-align: right;
}
input.battle{
    float: left;
}

textarea{
    background: #ccc;
    color:#000;
    width: 100%;
    height: 60px;
    margin: 4px 0;
}
textarea:focus{
    background: #fff;
}


div#Mask{
    background:#555;
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

div#Mask.off{
    position: absolute;
    opacity: 0;
}




#Menu ul{
    margin: 0px;
    padding: 0px;
}

#Menu ul li{
    border: 1px solid #000;
    background: #ccc;
    color:#000;
    border-radius: 10px;
    margin: 4px;
    padding: 2px 8px 2px 8px;
    list-style: none;
    cursor: pointer;
}

#Menu>ul>li:hover{
    background: #000;
    color:#fff;
}

#Menu ul>div{
    color:#000;
    border-radius: 10px;
    margin: 2px 10px 2px 10px;
    background: #ccc;
    height: 0px;
    overflow: hidden;
    transition-duration: 0.5s;
}

#Main {
    padding: 10px;
}

#Main div.chat{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px;
    margin: 2px;
    height: 70%;
    overflow-y: scroll;
}
#Main div.info>span.btn{
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 10px;
    margin: 0px 5px;
}
#Main div.info>span.btn:hover{
    background: #000;
    color:#fff;
}
#Main div.info select{
    background: #ccc;
    color:#000;
    border-radius: 5px;
    margin:0px 5px;
    width: 70px;
}


#Main div.chat>ul>li>table{
    width:100%;
    font-size: xx-small;
}
#Main div.chat>ul>li>table span.time{
    float:right;
}



#Main div.info{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px;
    margin: 2px;
}

#Main div.info.btn{
    cursor: pointer;
}

#Main div.info.btn:hover{
    background: #000;
    color:#fff;
}


#Main div.row{
    margin: 10px;
    clear: both; 
}

#Main div.row span{
    float: left;
    margin-right: 6px;
}

#Main input.bonus{
    margin-left: 10px;
    
}


#ListTable{

}

#ListTable tr td{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 4px;
}

#ListTable tr td.btn{
    cursor: pointer;
}
#ListTable tr td.btn:hover{
    background: #000;
    color:#fff;
}



#ListTable tr td span.red{
    color:#f00;
}


#Time{
    height: 20px;
    border: 1px solid #000;
    background: #ccc;
    color:#000;
    border-radius: 10px;
    margin: 4px;
    padding: 2px 8px 2px 8px;
    cursor: pointer;
}
#Time:hover{
    background: #000;
    color:#fff;
}


.vote{
    transition-duration: .3s;
}

.focus{
    background: #ff0;
    transition-duration: .3s;
}

